.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.main-display {
  display: flex;  
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #404041; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  left: 50%;
  top: 50px;
} 

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.btn-groups {
  background-color: rgb(85, 87, 87); 
  border: 1px solid rgb(53, 53, 53); 
  font-size: 10px;
  color: white; 
  text-align: left; 
  cursor: pointer; 
  width: 10em;
  display: flex;
  border-radius: 25px;      
}

.grid-container
{
  position: fixed;
}

.grid-item-hero {
  color: white;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  text-align: center;
  width: 50%;
}

.grid-item-player {
  color: white;
  position: fixed;
  right: 30px;    
  top: 20px;
}

.hero-text{
  font-size: 0.5em;
}

.player-text{
  display: flex;
  flex-direction: column;
  font-size: 0.5em;  
  align-items: flex-end;  
}
