.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn-group {
  background-color: rgb(95, 99, 102); 
  border: 1px solid rgb(125, 128, 125); 
  color: white; 
  text-align: left;
  padding: 2px 5px; 
  cursor: pointer; 
  width: 10%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}


.App-link {
  color: #61dafb;
}

.heroes {
  position: left;
}